#top {
    border-style: coral;
    border-style: solid;
    border width: 6px;
    width: 50%;
    margin-left: 350px;
    padding-left: 10%;
    background-color:cyan;

}
#bottom {
   margin-top: 100px;
   margin-left: 350px;
   border-style: coral;
   border-style: solid;
   border width: 6px;
   width: 50%;
   padding-left: 10%;
   background-color:cyan;

   
}
h1 {
    font-family: 'Open Sans', sans-serif;
}